<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
 {% extends 'base.html' %}
   {% block content %}
    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                  <form action="" method="post" class="form-box">
                    {% csrf_token %}
                    <h3 class="h4 text-black mb-4">Log In</h3>

                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="User Name" name="uName" required>
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name="pwd" required>
                    </div>

                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-pill" value="Log In">
                      <a href="register" class="btn btn-success btn-pill"> Sign up</a>

                    </div>
                  </form>

                  {% for messages in messages %}
              <div class="alert alert-primary" role="alert">
                {{ messages }}
              </div>
              {% endfor %}

                </div>
   {% endblock %}



</body>
</html>