

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>


     {% extends 'base.html' %}
     {% block content %}
  <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                  <form action="register" method="post" class="form-box">
                    {% csrf_token %}
                    <h3 class="h4 text-black mb-4">Sign Up</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name" name="fName" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Last Name" name="lName" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="User Name" name="uName" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email Addresss" name="email" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name="pwd1" required>
                    </div>
                    <div class="form-group mb-4">
                      <input type="password" class="form-control" placeholder="Re-type Password" name="pwd2" required>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-pill" value="Sign up">
                        <a href="login" class="btn btn-success btn-pill"> Login</a>
                    </div>
                  </form>
      </div>
          {% for messages in messages %}
              <h3> {{ messages }}</h3>
          {% endfor %}
     {% endblock %}



</body>
</html>